[submodule ".config/awesome/--force"]
	path = .config/awesome/--force
	url = https://github.com/Elv13/tyrannical.git
[submodule ".config/awesome/tyrannical"]
	path = .config/awesome/tyrannical
	url = https://github.com/Elv13/tyrannical.git
[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule ".config/awesome/awesome-buttons"]
	path = .config/awesome/awesome-buttons
	url = https://github.com/streetturtle/awesome-buttons.git
