# Alle ignorieren
*

# Ausnahmen im home folder
!.bumblebee-status.conf
!.dir_colors
!.gvimrc
!.Xresources
!.xbindkeysrc
!README.MD

# Ausnahmen Script Folder
!.scripts
!.scripts/**/*
!.bin
!.bin/**/*

# Ausnahmen Samples in Custom Folder
!.custom/*.sample

# Ausnahmen im .local folder
!.local
!.local/share

!.local/share/wallpapers
!.local/share/wallpapers/shared
!.local/share/wallpapers/shared/*
!.local/share/wallpapers/shared/**
!.local/share/wallpapers/shared/**/*

!.local/share/sounds
!.local/share/nemo
!.local/share/nemo/*
!.local/share/nemo/**
!.local/share/nemo/**/*

# Ausnahmen im .config folder
!.config
!.config/alacritty
!.config/alacritty/*
!.config/awesome
!.config/awesome/**/*
!.config/copyq
!.config/copyq/copyq.conf
!.config/copyq/themes
!.config/copyq/themes/**
!.config/copyq/themes/**/*
!.config/fontconfig
!.config/fontconfig/**
!.config/fontconfig/**/*

!.config/kitty
!.config/kitty/**/*
!.config/nitrogen
!.config/nitrogen/**/*
!.config/picom
!.config/picom/**/*
!.config/radiotray-ng
!.config/radiotray-ng/**/*
!.config/ranger
!.config/ranger/*.conf
!.config/ranger/*.sh

**/*-private.*
.vscode/argv.json

**/.history
