# Alle ignorieren
*

# Ausnahmen im home folder
!.bumblebee-status.conf
!.dir_colors
!.gvimrc
!.gtkrc-2.0.*
!.Xresources
!.xbindkeysrc
!README.MD

# Ausnahmen Script Folder
!.scripts
!.scripts/**/*

# Ausnahmen im .local folder
!.local
!.local/share

!.local/share/wallpapers
!.local/share/wallpapers/shared
!.local/share/wallpapers/shared/*
!.local/share/wallpapers/shared/**
!.local/share/wallpapers/shared/**/*

!.local/share/sounds

# Ausnahmen im .config folder
!.config
!.config/compton*.conf
!.config/alacritty
!.config/alacritty/*
!.config/awesome
!.config/awesome/**/*
!.config/copyq
!.config/copyq/copyq.conf
!.config/copyq/themes
!.config/copyq/themes/**
!.config/copyq/themes/**/*
!.config/dunst
!.config/dunst/*
!.config/fontconfig
!.config/fontconfig/**
!.config/fontconfig/**/*
!.config/fish
!.config/fish/*
!.config/gtk-3.0
!.config/gtk-3.0/*
!.config/gtk-4.0
!.config/gtk-4.0/*
!.config/qt5ct
!.config/qt5ct/*
!.config/qt-logout
!.config/qt-logout/*
!.config/Kvantum
!.config/Kvantum/*
!.config/kitty
!.config/kitty/**/*
!.config/nitrogen
!.config/nitrogen/**/*
!.config/oomox
!.config/oomox/*
!.config/picom
!.config/picom/**/*
!.config/radiotray-ng
!.config/radiotray-ng/**/*
!.config/ranger
!.config/ranger/*.conf
!.config/ranger/*.sh
!.config/ulauncher
!.config/ulauncher/*
!.config/ulauncher/user-themes
!.config/ulauncher/user-themes/**/*
.config/ulauncher/user-themes/**/generated.css
!.config/xsettingsd
!.config/xsettingsd/*

**/*-private.*
.vscode/argv.json
