#!/usr/bin/env bash
#########################################
# initial environment for XWin sessions #
#########################################
export DOT="$DOT;~/.xprofile"

CUSTOM="$CUSTOMS/.xprofile"
if [ -r "$CUSTOM" ]; then
    . "$CUSTOM"
fi
