/*
Base16 {{scheme-name}}
Author: {{scheme-author}}
*/

/* App Window */
@define-color bg_color #{{base00-hex}};
@define-color window_bg #{{base00-hex}};
@define-color window_border_color #313e41;
@define-color prefs_backgroud darker(#{{base05-hex}});

/* Input */
@define-color selected_bg_color #{{base02-hex}};
@define-color selected_fg_color #{{base05-hex}};
@define-color input_color #{{base05-hex}};
@define-color caret_color darker(#{{base05-hex}});

/* Result items */
@define-color item_name #{{base05-hex}};
@define-color item_text darker(#{{base05-hex}});
@define-color item_box_selected #{{base02-hex}};
@define-color item_text_selected #{{base05-hex}};
@define-color item_name_selected #{{base05-hex}};
@define-color item_shortcut_color darker(#{{base05-hex}});
@define-color item_shortcut_shadow darker(#{{base00-hex}});
@define-color item_shortcut_color_sel #{{base05-hex}};
@define-color item_shortcut_shadow_sel darker(#{{base02-hex}});

<mtTheme>
  <id>manjaro-dark</id>
  <editorColorsScheme>manjaro-dark</editorColorsScheme>
  <dark>true</dark>
  <name>Manjaro Dark</name>
  <colors>
    <color id="background" value="{{base00-hex}}"/>
    <color id="foreground" value="b0bec5ff"/>
    <color id="text" value="607d8bff"/>
    <color id="highlight" value="425b67ff"/>
    <color id="selectionBackground" value="{{base02-hex}}"/>
    <color id="selectionForeground" value="{{base05-hex}}"/>
    <color id="button" value="2e3c43ff"/>
    <color id="secondaryBackground" value="32424aff"/>
    <color id="disabled" value="415967ff"/>
    <color id="contrast" value="1e272cff"/>
    <color id="tableSelected" value="314549ff"/>
    <color id="secondBorder" value="2a373eff"/>
    <color id="treeSelection" value="546e7a50"/>
    <color id="notifications" value="323232ff"/>
    <color id="accent" value="009688ff"/>
    <color id="excluded" value="2e3c43ff"/>
  </colors>
  <themeId>manjaro-dark</themeId>
</mtTheme>
