
# OneTime Deploy Token (kann so übernommen werden)
export NPM_TOKEN=<token>
export GL_TOKEN="$NPM_TOKEN"
export GITLAB_TOKEN="$NPM_TOKEN"
 
export DEPLOY_TOKEN=<token>
export DEPLOY_USER=<token>

# DEVELOPMENT VARIABLEN
export WORK_ONEMOBILE=$WORKSPACE/Node/OneMobile
export WORK_ONETIMECLIENT=$WORKSPACE/Node/OneTimeClient
export WORK_ONETIMESERVER=$WORKSPACE/Node/OneTimeServer

export WORK_OTW_CORE=$WORKSPACE/Node/OtwCore
export WORK_OTW_BLL=$WORKSPACE/Node/OtwBll
export WORK_OTW_REST=$WORKSPACE/Node/OtwRestClient
export WORK_OTW_STATE=$WORKSPACE/Node/OtwState

ONEMOBILE_SHELL="$TERMINAL --directory $WORK_ONEMOBILE"
ONETIMECLIENT_SHELL="$TERMINAL --directory $WORK_ONETIMECLIENT"
ONETIMESERVER_SHELL="$TERMINAL --directory $WORK_ONETIMESERVER"

OTW_CORE_SHELL="$TERMINAL --directory $WORK_OTW_CORE"
OTW_BLL_SHELL="$TERMINAL --directory $WORK_OTW_BLL"
OTW_REST_SHELL="$TERMINAL --directory $WORK_OTW_REST"
