#!/usr/bin/env bash

# Theme Definitionen
# export MAIN_THEME="Arc-Arcolinux-blue-Dark"
# export ICON_THEME="Papirus-Dark"
# export CURSOR_THEME="Bibata-Modern-Ice"
# export CURSOR_SIZE=32
# export THEME_FONT="Sans, Medium 14"
# export SOUND_THEME="Smooth"

# Scale Factor
# export QT_SCALE_FACTOR=1.5
# export QT_AUTO_SCREEN_SET_FACTOR=1.5
# export QT_AUTO_SCREEN_SCALE_FACTOR=0
# export GDK_SCALE=1.5
# export GDK_DPI_SCALE=1.5

# oder dpi setzen (nicht beides gleichzeitig)
# export QT_FONT_DPI=144

# Lineheight bei 144dpi
#export LINEHEIGHT=50

# Lineheight bei 96dpi
# export LINEHEIGHT=28
