#!/usr/bin/env bash

export WORK_ONEMOBILE=$WORKSPACE/Node/OneMobile
export WORK_ONETIMECLIENT=$WORKSPACE/Node/OneTimeClient
export WORK_ONETIMESERVER=$WORKSPACE/Node/OneTimeServer

ONEMOBILE_SHELL="$TERMINAL --directory $WORK_ONEMOBILE"
ONETIMECLIENT_SHELL="$TERMINAL --directory $WORK_ONETIMECLIENT"
ONETIMESERVER_SHELL="$TERMINAL --directory $WORK_ONETIMESERVER"

export CUSTOM_TOP_ACTIONS=(
)

export CUSTOM_BOTTOM_ACTIONS=(
    "🗂 OTC: Dateien" "$FILEMANAGER $WORK_ONETIMECLIENT"
    "💻 OTC: Shell" "$ONETIMECLIENT_SHELL --hold --title OTC:Shell"
    "🇬 OTC: Git" "code $WORK_ONETIMECLIENT"
    "🛫 OTC: Start Compiler" "$ONETIMECLIENT_SHELL --hold --title OTC:StartDefault yarn start"
    "🇬 OTC: Generate" "$ONETIMECLIENT_SHELL --hold --title OTC:Generate $TIME yarn generate"
    "🇩 OTC: Deploy Build" "$ONETIMECLIENT_SHELL --hold --title OTC:DeployBuild yarn deploy_build"
    "💉 OTC: Doctor" "$ONETIMECLIENT_SHELL --hold --title OTC:Doctor $TIME yarn doctor"
    "💉 OTC: Doctor Check" "$ONETIMECLIENT_SHELL --hold --title OTC:DoctorCheck $TIME yarn doctor:check"
    "☑ OTC: Client Check" "$ONETIMECLIENT_SHELL --hold --title OTC:ClientCheck $TIME yarn client:check"
    "✅ OTC: Prod Check" "$ONETIMECLIENT_SHELL --hold --title OTC:ClientCheck $TIME yarn client:check:prod"
    "🇺 OTC: Check Updates" "$ONETIMECLIENT_SHELL --hold --title OTC:CheckClientUpdates $TIME yarn upgrade-interactive"
    "🗂 OTS: Dateien" "$FILEMANAGER $WORK_ONETIMESERVER"
    "💻 OTS: Shell" "$ONETIMESERVER_SHELL --hold --title OTC:Shell"
    "🇬 OTS: Git" "code $ONETIMESERVER_SHELL"
    "🏄 OTS: Start Server" "$ONETIMESERVER_SHELL --hold --title OTC:StartServer yarn start"
    "🇬 OTS: Generate" "$ONETIMESERVER_SHELL --hold --title OTC:Generate $TIME yarn generate"
    "🇩 OTS: Deploy Build" "$ONETIMESERVER_SHELL --hold --title OTC:DeployBuild yarn deploy_build"
    "🇺 OTS: Check Updates" "$ONETIMESERVER_SHELL --hold --title OTC:CheckClientUpdates $TIME yarn upgrade-interactive"
    "🗂 OM: Dateien" "$FILEMANAGER $WORK_ONEMOBILE"
    "💻 OM: Shell" "$ONEMOBILE_SHELL --hold --title OTC:Shell"
    "🇬 OM: Git" "code $ONEMOBILE_SHELL"
    "🛫 OM: Start Compiler" "$ONEMOBILE_SHELL --hold --title OMC:StartDefault yarn start"
    "🛫 OM: Build Android" "$ONEMOBILE_SHELL --hold --title OMC:BuildAndroid $TIME yarn android:build"
    "🇺 OM: Check Updates" "$ONEMOBILE_SHELL --hold --title OMC:CheckUpdates $TIME yarn outdated"
)
