#!/usr/bin/env bash

export WORK_ONEMOBILE=$WORKSPACE/Node/OneMobile
export WORK_ONETIMECLIENT=$WORKSPACE/Node/OneTimeClient
export WORK_ONETIMESERVER=$WORKSPACE/Node/OneTimeServer

ONEMOBILE_SHELL="$TERMINAL --directory $WORK_ONEMOBILE"
ONETIMECLIENT_SHELL="$TERMINAL --directory $WORK_ONETIMECLIENT"
ONETIMESERVER_SHELL="$TERMINAL --directory $WORK_ONETIMESERVER"

export CUSTOM_TOP_ACTIONS=(
    "🏄 OTS: Start Server" "$ONETIMESERVER_SHELL --hold --title OTC:StartServer yarn start"
    "🛫 OTC: Start Pug Watcher" "$ONETIMECLIENT_SHELL --hold --title OTC:PugWatcher yarn run watch:pug"
    "🛫 OTC: Start Npm Watcher" "$ONETIMECLIENT_SHELL --hold --title OTC:NpmWatcher yarn run watch:npm"
    
    "🛫 OTC: Start OneTimeClient" "$ONETIMECLIENT_SHELL --hold --title OTC:StartClient yarn run start:client"
    "🛫 OTC: Start TestApp Atomic" "$ONETIMECLIENT_SHELL --hold --title OTC:AtomicTestApp yarn run start:test:atomic"
    "🛫 OTC: Start TestApp Widgets" "$ONETIMECLIENT_SHELL --hold --title OTC:WidgetsTestApp yarn run start:test:widgets"
    
    "💻 OTS: Shell Server" "$ONETIMESERVER_SHELL --hold --title OTS:Shell"
    "💻 OTC: Shell OneTimeClient" "$ONETIMECLIENT_SHELL --hold --title OTC:Shell"
)

export CUSTOM_BOTTOM_ACTIONS=(
    "🗂 OTC: Dateien" "$FILEMANAGER $WORK_ONETIMECLIENT"
    "🇬 OTC: Git" "code $WORK_ONETIMECLIENT"
    "🗂 OTS: Dateien" "$FILEMANAGER $WORK_ONETIMESERVER"
    "🇬 OTS: Git" "code $ONETIMESERVER_SHELL"
    "🛫 OM: Start Compiler" "$ONEMOBILE_SHELL --hold --title OMC:StartDefault yarn start"
    "🗂 OM: Dateien" "$FILEMANAGER $WORK_ONEMOBILE"
    "💻 OM: Shell" "$ONEMOBILE_SHELL --hold --title OTC:Shell"
    "🇬 OM: Git" "code $ONEMOBILE_SHELL"
    "🛫 OM: Build Android" "$ONEMOBILE_SHELL --hold --title OMC:BuildAndroid $TIME yarn android:build"
    "🇺 OM: Check Updates" "$ONEMOBILE_SHELL --hold --title OMC:CheckUpdates $TIME yarn outdated"
)
