/*
Base16 {{scheme-name}}
Author: {{scheme-author}}
*/

/* App Window */
@define-color bg_color #{{base00-hex}};
@define-color window_bg #{{base00-hex}};
@define-color window_border_color #313e41;
@define-color prefs_backgroud darker(#{{base05-hex}});

/* Input */
@define-color selected_bg_color #{{base02-hex}};
@define-color selected_fg_color #{{base05-hex}};
@define-color input_color #{{base05-hex}};
@define-color caret_color darker(#{{base05-hex}});

/* Result items */
@define-color item_name #{{base05-hex}};
@define-color item_text darker(#{{base05-hex}});
@define-color item_box_selected #{{base02-hex}};
@define-color item_text_selected #{{base05-hex}};
@define-color item_name_selected #{{base05-hex}};
@define-color item_shortcut_color darker(#{{base05-hex}});
@define-color item_shortcut_shadow darker(#{{base00-hex}});
@define-color item_shortcut_color_sel #{{base05-hex}};
@define-color item_shortcut_shadow_sel darker(#{{base02-hex}});
