@define-color theme_fg_color #b5b5b5;
@define-color theme_bg_color #292f34;
@define-color theme_text_color #b5b5b5;
@define-color theme_base_color #292f34;
@define-color theme_view_hover_decoration_color #36d7b7;
@define-color theme_hovering_selected_bg_color #36d7b7;
@define-color theme_selected_bg_color #1abc9c;
@define-color theme_selected_fg_color #ffffff;
@define-color theme_view_active_decoration_color #36d7b7;
@define-color theme_button_background_normal #292f34;
@define-color theme_button_decoration_hover #36d7b7;
@define-color theme_button_decoration_focus #1abc9c;
@define-color theme_button_foreground_normal #ffffff;
@define-color theme_button_foreground_active #ffffff;
@define-color borders #4c5054;
@define-color warning_color #e67e22;
@define-color success_color #3498db;
@define-color error_color #e74c3c;
@define-color theme_unfocused_fg_color #b5b5b5;
@define-color theme_unfocused_text_color #b5b5b5;
@define-color theme_unfocused_bg_color #292f34;
@define-color theme_unfocused_base_color #292f34;
@define-color theme_unfocused_selected_bg_color_alt #124d43;
@define-color theme_unfocused_selected_bg_color #124d43;
@define-color theme_unfocused_selected_fg_color #b5b5b5;
@define-color theme_button_background_backdrop #292f34;
@define-color theme_button_decoration_hover_backdrop #36d7b7;
@define-color theme_button_decoration_focus_backdrop #1abc9c;
@define-color theme_button_foreground_backdrop #ffffff;
@define-color theme_button_foreground_active_backdrop #b5b5b5;
@define-color unfocused_borders #4c5054;
@define-color warning_color_backdrop #e67e22;
@define-color success_color_backdrop #3498db;
@define-color error_color_backdrop #e74c3c;
@define-color insensitive_fg_color #56595c;
@define-color insensitive_base_fg_color #56595c;
@define-color insensitive_bg_color #272c31;
@define-color insensitive_base_color #272c31;
@define-color insensitive_selected_bg_color #272c31;
@define-color insensitive_selected_fg_color #56595c;
@define-color theme_button_background_insensitive #272c31;
@define-color theme_button_decoration_hover_insensitive #2b655d;
@define-color theme_button_decoration_focus_insensitive #225c54;
@define-color theme_button_foreground_insensitive #6e7275;
@define-color theme_button_foreground_active_insensitive #56595c;
@define-color insensitive_borders #32383c;
@define-color warning_color_insensitive #66472b;
@define-color success_color_insensitive #2a5069;
@define-color error_color_insensitive #663634;
@define-color insensitive_unfocused_fg_color #56595c;
@define-color theme_unfocused_view_text_color #56595c;
@define-color insensitive_unfocused_bg_color #272c31;
@define-color theme_unfocused_view_bg_color #272c31;
@define-color insensitive_unfocused_selected_bg_color #272c31;
@define-color insensitive_unfocused_selected_fg_color #56595c;
@define-color theme_button_background_backdrop_insensitive #272c31;
@define-color theme_button_decoration_hover_backdrop_insensitive #2b655d;
@define-color theme_button_decoration_focus_backdrop_insensitive #225c54;
@define-color theme_button_foreground_backdrop_insensitive #6e7275;
@define-color theme_button_foreground_active_backdrop_insensitive #56595c;
@define-color unfocused_insensitive_borders #32383c;
@define-color warning_color_insensitive_backdrop #66472b;
@define-color success_color_insensitive_backdrop #2a5069;
@define-color error_color_insensitive_backdrop #663634;
@define-color link_color #4c6b8a;
@define-color link_visited_color #913d88;
@define-color tooltip_text #f7f7f7;
@define-color tooltip_background #292f34;
@define-color tooltip_border #5c6165;
@define-color content_view_bg #292f34;
@define-color theme_titlebar_background rgb(41,47,52);
@define-color theme_titlebar_foreground rgb(255,255,255);
@define-color theme_titlebar_background_light #292f34;
@define-color theme_titlebar_foreground_backdrop rgb(130,130,130);
@define-color theme_titlebar_background_backdrop rgb(41,47,52);
@define-color theme_titlebar_foreground_insensitive rgb(130,130,130);
@define-color theme_titlebar_foreground_insensitive_backdrop rgb(130,130,130);
